.page-header
  %h2 Users
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th E-mail
      %th Actions
  %tbody
    - users.each do |user|
      - if user != current_user
        %tr
          %td= user.full_name
          %td= user.email
          %td
            = link_to "Show", '#', class: 'btn'
            = link_to "Invite", friendships_path(receiver_id: user.id), method: :post , class: 'btn btn-info'


