@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui";
@import "demo";

body {
  padding-top: 60px;
}

/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  }

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  }

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  }

.checkin-title {
  font-size: 18px;
  font-weight: lighter;
  padding-top: 40px;
  color: rgba(50,50,50,0.7);
}