
%script{:src => "http://maps.google.com/maps/api/js?sensor=false"}
%script{:src => "/assets/jquery.ui.addresspicker.js"}


%br/
%h1= current_user.fullname + "'s check-ins"
%h2= current_user.checkins.last.place(checkin.place_id).name + " at " +current_user.checkins.last.place(checkin.place_id).street + ', '+ current_user.checkins.last.place(checkin.place_id).city

%input#addresspicker_map{ type: 'text', hidden: true }

.clearfix
.input.input-positioned

.map-wrapper


  #map
.input-positioned
